# Byte-compiled / optimized / DLL files
__pycache__/

# input data, saved log, checkpoints and pretrained models
data/
input/
saved/
outputs/
datasets/
pretrained/
trained_models/

.gitconfig

*.yaml


